@model BorrowViewModel
@using Librarie.Models.LibraryViewModels;
@{
    ViewData["Title"] = "Borrow";
}

<h2>Borrow</h2>

@if(Model.isSuccessful)
{
    <p>Succes: @Model.BookName</p>
}
else{
    <p>Error</p>
}
