@model ReturnViewModel
@using Librarie.Models.LibraryViewModels;
@{
    ViewData["Title"] = "Return";
}

<h2>Return</h2>
@if (Model.IsSuccessful)
{
    <div class="alert alert-success" role="alert">Cartea a fost returnata cu succes: @Model.BookName</div>
}
else
{
    <div class="alert alert-danger" role="alert">A aparut o eroare in timpul returnarii carii</div>
}
